@import "../../varriables.scss";

button {
  height: 40px;
  width: 40px;
  margin: 10px;
  border-color: transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.primary {
  background-color: $dark-green;
}

.secondary {
  background-color: $dark-pink;
}
